<div ng-app="imageEditorApp">
    <div class="imageEditorToolbar" ng-controller="imageEditorCtrl">
        <div class="inner-text">
            <button id="imageInputButton" class="labelAlign imageEditorInputButton"
                    onclick="document.getElementById('imageInputMasterButton').click()">Choose Image</button>
            <label class="labelAlign" for="bwCheck">Black & White</label>
            <label class="labelAlign" for="brightnessSlider">Brightness</label>
            <label class="labelAlign" for="shadowSlider">Shadows</label>
            <label class="labelAlign" for="highlightSlider">Highlights</label>
            <label class="labelAlign" for="blackSlider">Blacks</label>
            <label class="labelAlign" for="vertFlip">Horizontal Flip</label>
            <label class="labelAlign" for="horizFlip">Vertical Flip</label>
            <label class="labelAlign" for="optCheck">Optimize</label>
            <label class="labelAlign" for="whiteSlider">Detail</label>
        </div>
        <div class="inner-control">
            <button id="saveImageButton" class="labelAlign imageEditorInputButton"
                    ng-click="createSaveImage()">Save Image</button>
            <input id="imageInputMasterButton" type="file" accept="image/*" class="imageEditorHideInputButton imageEditorInputButton"/>
            <input class="inputAlign" type="checkbox" id="bwCheck" ng-model="bwm" ng-change="redraw()"
                   ng-disabled="optm"/>
            <input class="inputAlign" type="range" id="brightnessSlider" value="0" min="-100" max="100"
                   ng-model="brightness" ng-change="redraw()" ng-disabled="optm"/>
            <input class="inputAlign" type="range" id="shadowSlider" value="0" min="-100" max="100"
                   ng-model="shadow" ng-change="redraw()" ng-disabled="optm"/>
            <input class="inputAlign" type="range" id="highlightSlider" value="0" min="-100" max="100"
                   ng-model="highlight" ng-change="redraw()" ng-disabled="optm"/>
            <input class="inputAlign" type="range" id="blackSlider" value="0" min="-100" max="100" ng-model="black"
                   ng-change="redraw()" ng-disabled="optm"/>
            <input class="inputAlign" type="checkbox" id="vertFlip" ng-model="vFlipM" ng-change="redraw()"/>
            <input class="inputAlign" type="checkbox" id="horizFlip" ng-model="hFlipM" ng-change="redraw()"/>
            <input class="inputAlign" type="checkbox" id="optCheck" ng-model="optm" ng-change="redraw()"/>
            <input class="inputAlign" type="range" id="whiteSlider" value="180" min="120" max="210" ng-model="white"
                   ng-change="redraw()"
                   ng-disabled="!optm"/>
        </div>
    </div>
    <div class="imageEditorImageArea"></div>
    <div class="imageEditorHistogramArea"></div>
</div>